<div class="content clearfix">
    <div class="header clearFix">
            <h2>Your CV Form</h2>
    </div>
    <div class="ttl clearFix">
        <h3>Personal Information</h3>
    </div>
  <%= form_with model: @applicant, url: save_applicant_index_path(@applicant),class:"main-form" do |form| %>
       <table>
            <tr>
                <th>
                    <%= form.label :name, "Name",class:"name"%>                  
                </th>
                <td>
                    <img src="/path">
                    <%= @file_path %>  
                    <p class="cv-form"> <%= form.text_field :name, value: @applicant[:name], class: "cv-bdr ", :readonly => true %></p>    
                </td>
            </tr>
       
            <tr>
                <th>
                    <%= form.label :dob, "Date Of Birth" ,class:"name"%>
                    
                </th>
                <td>
                   <p class="cv-form"><%= form.text_field :dob, value: @applicant[:dob], class: "cv-bdr", :readonly => true %></p>  
                        
                </td>
            </tr>
            <tr>
                <th>
                    <%= form.label :phone1, "Phone" ,class:"name"%>
                     
                </th>
                <td class="phone">
                 <p class="cv-form"> <%= form.text_field :phone_no1, value: @applicant[:phone_no1], class: "cv-bdr", :readonly => true %></p>
                </td>
            </tr>
            <tr>
                <th>
                    <%= form.label :email, "Email" ,class:"name"%>                    
                </th>
                <td>
                  <p class="cv-form">  <%= form.text_field :email, value: @applicant[:email], class: "cv-bdr", :readonly => true %></p>
                </td>
            </tr>
            <tr>
                <th>
                    <%= form.label :current_add, "Currnet Address" ,class:"name"%>
                     
                </th>
                <td>
                  <p class="cv-form"><%= form.text_field :currnet_address, value: @applicant[:currnet_address], class: "cv-bdr", :readonly => true %></p>
                </td>
            </tr>
            <tr>
                <th>
                    <%= form.label :home_add, "Hometown Address" ,class:"name"%>
                     
                </th>
                <td>
                 <p class="cv-form"> <%= form.text_field :hometown_address, value: @applicant[:hometown_address], class: "cv-bdr", :readonly => true %></p>
                </td>
            </tr>
        </table>
        
        <div class=" clearFix">
            <%= link_to '<button type="button" class="reset">Cancle</button>'.html_safe, form_path%>
            <%= form.submit "Submit", class:"submit"%>
        </div>
  <% end %>
</div>


